/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom css */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}
.container {
  width: 1040px;
  margin: 0 auto;
  padding: 10px 32px;
}
nav a {
}
.flex {
  display: flex;
  align-items: center;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.col-1 {
  flex: 0 1 23%;
  height: 380px;
  background-color: #085979;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px black;
}
.header {
  background-color: #f46026;
}

/* section */
.main {
  background-color: #d4cea7;
}
.section1 {
  padding: 30px 0;
}
.card1 {
  list-style: decimal outside;
  font-size: 20px;
  padding-left: 10px;
}
.main-menu {
  list-style: disc outside;
  font-size: 20px;
  padding-bottom: 5px;
}
.menu {
  list-style: decimal inside;
}
.sub-menu {
  list-style: square inside;
  text-indent: 16px;
}
ul .tick {
  color: green;
  background-color: black;
  width: 10px;
  height: 10px;
  padding: 7px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
}
.tick-menu li {
  font-size: 20px;
  padding-bottom: 10px;
}
span {
  padding: 0 12px;
}

.section2 {
  padding: 40px 0;
}
dt {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding: 10px 0;
}
dd {
  color: #68644f;
  padding-left: 40px;
}

/* footer */
.footer {
  background-color: #252c22;
  padding: 20px 0;
}
nav a.link {
  margin-left: 20px;
}
nav li {
  font-size: 20px;
  font-weight: 500;
}
